{% extends "master.html" %}

{% block title %}
  My employees
{% endblock %}


{% block body %}

    <h1>These are our companies</h1>
    <div class="container mt-3">
      <h2>Employee Table</h2>
      <p>This is the table of employees</p>            
      <table class="table">
        <thead>
          <tr>
            <th>company</th>
            <th>department</th>
            <th>employeeID </th>
            <th>employee_lastname</th>
            <th>employee_firstname</th>
            <th>birthdate</th>
            <th>vacations</th>
            <th>used_vacations</th>
            <th>salary</th>
          </tr>
          
        </thead>
        <tbody>
          {% for x in myemployees %}
          <tr>
            <td>{{ x.company }}</td>
          
            <td>{{ x.department }}</td>
         
            <td>{{ x.employeeID }}</td>
         
            <td>{{ x.employee_lastname }}</td>
          
            <td>{{ x.employee_firstname }}</td>
          
            <td>{{ x.birthdate }}</td>
         
            <td>{{ x.vacations }}</td>
         
            <td>{{ x.used_vacations }}</td>
         
            <td>{{ x.salary }}</td>
          </tr>
          
      
         
          {% endfor %}
          
          
        </tbody>
      </table>
    </div>
  
    {% endblock %}

    {% block url %}"/department"{% endblock %}
    {% block link %}departments{% endblock %}
